<div class="cart-summary-header">
    <p>order summary</p>
</div>
<div class="cart-summary-details">
    <div class="cart-summary-details-row flex-align-between">
        <p>subtotal</p>
        <p>{{subtotal | currency}}</p>
    </div>
    <div class="cart-summary-details-row flex-align-between">
        <p>shipping</p>
        <p>TBD</p>
    </div>
    <div class="cart-summary-details-row flex-align-between">
        <p>estimated tax</p>
        <p>{{estimatedTax | currency}}</p>
    </div>
    <div class="cart-summary-details-row flex-align-between">
        <p>total</p>
        <p>{{total | currency}}</p>
    </div>
</div>
<div class="proceed-to-checkout">
    <p (click)="onGoToCheckoutClicked()" class="ptc-button">proceed to checkout</p>
</div>