<div class="cart-summary-header">
    <p>order summary</p>
</div>
<div class="cart-summary-details">
    <div class="cart-summary-details-row flex-align-between">
        <p>subtotal</p>
        <p>{{subtotal}}</p>
    </div>
    <div class="cart-summary-details-row flex-align-between">
        <p>shipping</p>
        <p>{{shipping}}</p>
    </div>
    <div class="cart-summary-details-row flex-align-between">
        <p>estimated tax</p>
        <p>{{estimatedTax}}</p>
    </div>
    <div class="cart-summary-details-row flex-align-between">
        <p>total</p>
        <p>{{total}}</p>
    </div>
</div>
<div class="proceed-to-checkout">
    <button (click)="onGoToCheckoutClicked()" class="ptc-button">proceed to checkout</button>
</div>