<div class="product-details-container">
    <app-product-image [images]="$variantImages | async"></app-product-image>
    <app-product-details *ngIf="$variantData | async" [details]="$variantData | async" (atcClick)="onAddToCart($event)">
    </app-product-details>
</div>
<div class="product-details-related-container" *ngIf="relatedProducts.length > 0">
    <h3 class="product-details-related-header">RELATED PROD.</h3>
    <div class="product-details-related">
        <!-- <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item> -->
        <collection-item *ngFor="let productData of relatedProducts" [productData]="productData"></collection-item>
    </div>
</div>