.footer-container{
    padding: 4em 12%;
    margin-top: 160px;
    background-color: #252525;
    color: #F4F3E9;
    @media only screen and (min-width: 961px) {
        .footer-orders{
            grid-column: 2;
        }

    }

    @media only screen and (max-width: 960px) {
        padding: 2em 8px;

    }
    .footer-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
        border-bottom: 1px solid #F4F3E9;
        margin-bottom: 8px; 
        padding-bottom: 4em;
        @media only screen and (max-width: 960px) {
            grid-template-columns: 1fr 1fr;

        }
    }

    h3{
        border-bottom: 1px solid #F4F3E9;
    }
    ul{ 
        padding:0;
        li{
            list-style: none;
            margin-bottom: 12px;
        }
    }
}