img{
    width: 100%;
}
.image-container{
    img{
        display: block;
    }
}
swiper{
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.swiper-button-prev{

}
.swiper-button-next{

}