<div class="product-details-info-container" *ngIf="productDetails">
    <div class="product-details-info title">
        {{productDetails.title}}
    </div>
    <div class="product-details-info variants a">
        {{currentVariantDetails.variantColor}}
    </div>
    <div class="product-details-info variants b">
        {{currentVariantDetails.variantScent}}
    </div>
    <div class="product-details-info description">
        <div>
            <p>
                {{productDetails.description}}
            </p>
        </div>
    </div>
    <div class="product-details-info price">
        {{currentVariantDetails.variantPrice | currency    }}
    </div>

    <div class="product-details-info atc">
        <button type="button" (click)="onAtcClick()">ADD TO CART</button>
    </div>
    <div class="product-details-info buy">
        BUY NOW
    </div>
</div>