<div class="header-routing-container">
        <a class="header-routing-item" [routerLink]="['shop']">shop</a>
        <a class="header-routing-item" [routerLink]="['/']">read</a>
        <a class="header-routing-item" [routerLink]="['/']">archive</a>
        <a class="header-routing-item" [routerLink]="['about']">about</a>
        <div style="display:flex;">
                <p>search</p>
                <!-- <input class="{{searchInputStatus}}" type="text"> -->
        </div>
</div>

<div class="header-routing-mobile-container">

</div>