<div>
    <div class="cart-summary-header-container">
        <p class="cart-summary-header item">item</p>
        <p class="cart-summary-header item">details</p>
        <p class="cart-summary-header quantity flex-align-center">quantity</p>
        <p class="cart-summary-header price flex-align-center">price</p>
    </div>
    <div class="cart-summary-items-container">

        <app-cart-summary-item 
        *ngFor="let checkoutItem of checkoutList" 
        [checkoutItem]="checkoutItem" 
        (quantityUpdateChange)="onQuantityUpdateChange($event)"
        (lineItemRemoveClick)="onLineItemRemove($event)"
        ></app-cart-summary-item>

    </div>
</div>