<div class="about-us-container">
    <div class="about-us-content">
        <h3 class="about-us-text">
            We took out the C from Candle to create Andle. We wanted to bring our various backgrounds together and
            become Curators. We strive to curate and source all of our candles with meaning and present a different
            designal perspective. 
        </h3>
        <h3>
            Share the story of each candle and appreciate the creativity and beauty of something as simple and yet complex within a candle. We write each of our descriptions to hopefully explain and give inspiration.
        </h3>
        <div class="about-us-socials flex-align-center">
            <!-- <a href="">INSTAGRAM</a> -->
            <a href="">contact@andle.us</a>
            <!-- <a href="">TWITTER</a> -->
        </div>
    </div>
</div>