.about-us-container{
    background-color: #F3EEDC;
    img{
        max-width: 250px;
    }
    text-align: center;
    width: 700px;
    padding: 60px;
}
.about-us-content{
    max-width: 400px;
    margin: 0 auto;
}
.about-us-socials{
    a{
        text-decoration: none;
        color: black;
        
    }
}
.about-us-text{
    margin: 80px 0;
}