<div class="about-us-container">
    <img class="hide-on-mobile" [routerLink]="['/']" src="/assets/logo.png" alt="">
    <div class="about-us-content">
        <h3 class="about-us-text">
            Andle brand DESCRIPTION (FPO)
            The striking grey façade is fashioned from ribbed concrete tiles, recalling the mountain’s many faces, and the
            tactile qualities of alpine peaks. This treatment wraps back into the store, enveloping the
        </h3>
        <div class="about-us-socials flex-align-between">
            <a href="">INSTAGAM</a>
            <a href="">EMAIL</a>
            <a href="">TWITTER</a>
        </div>
    </div>
</div>