<div class="register-container">
    <div class="bg-primary register-header flex-align-center">
        new client
    </div>
    <form class="bg-primary register-form" formGroup="registerForm">
        <div class="form-item">
            <label>
                first name:
                <input type="text" formControlName="firstName">
            </label>
        </div>
        <div class="form-item">
            <label>
                last name:
                <input type="text" formControlName="lastName">
            </label>
        </div>
        <div class="form-item">
            <label>
                email address:
                <input type="text" formControlName="email">
            </label>
        </div>
        <div class="form-item">
            <label>
                password:
                <input type="text" formControlName="password">
            </label>
        </div>
    </form>
    <div class="register-legal bg-primary">
        <div>
            register
        </div>
        <p>policy (FPO)
            The striking grey façade is fashioned from ribbed concrete tiles, recalling the mountain’s many faces, and
            the tactile qualities of alpine peaks. This treatment wraps back into the store, enveloping the </p>

    </div>

</div>