.register-container{
    display: grid;
    grid-template-rows: 40px 160px 140px;
    grid-row-gap: 1px;
    background-color: black;

}
.register-form{
    padding: 16px;
}
.register-legal{
    padding: 16px;
}
.form-item{
    input{
        background: transparent;
        border: none;
        margin-bottom: 16px;
    }
}