<div class="login-container">
    <div class="bg-primary login-header flex-align-center">
        registered client
    </div>
    <form class="bg-primary login-form" formGroup="loginForm">
        <div class="form-item">
            <label>
                email address:
                <input type="text" formControlName="email">
            </label>
        </div>
        <div class="form-item">
            <label>
                password:
                <input type="text" formControlName="password">
            </label>
        </div>

    </form>
    <div class="login-cta bg-primary">
    </div>
</div>