<div class="collection-product-grid">
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
    <collection-item></collection-item>
</div>