<div class="cart-summary-item-container">
    <div>
        <img src="{{checkoutItem.node.variant.image.originalSrc}}" alt="">
    </div>
    <div class="cart-summary-item-detail">
        <div>
            <p>{{checkoutItem.node.title}}</p>
            <p>code# 000000000</p>
            
            <p *ngFor="let option of checkoutItem.node.variant.selectedOptions"><strong>{{option.name}}:</strong> {{option.value}}</p>
            <br>
        </div>

        <div class="flex-align-between">
            <p class="checkout-remove-item">remove</p>
            <!-- <p>save for later</p> -->
        </div>
    </div>
    <div class="flex-align-center">
        <mat-select id="checkout-quantity-selector" [(value)]="quantity" (selectionChange)="emitQuantityUpdate()">
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
        </mat-select>
    </div>
    <div class="flex-align-center">
        <p>{{checkoutItem.node.variant.priceV2.amount | currency}}</p>
    </div>
</div>