img{
    max-width: 100%;
    display: block;
    flex:0 0 35%;
}
.collection-product-grid-item{
    display: grid;
    grid-template-rows: auto 50px 50px 50px;
    grid-gap: 1px;
    border: 1px solid black;
    // background-color: black;
    height: 100%;
    div{
        background-color: #F3EEDC;
    }
}


.product-info{
    display: flex;
    align-items:center;
    padding: 0 8px;
}
.product-name{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    p{
        margin: 0;
    }
}
.product-variants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}
.product-atc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-image-container{
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid black;
    
    img{
        flex-shrink: 0;
        min-width: 100%;
        height: 100%;
        cursor: pointer;
        @media only screen and (max-width: 960px) {

            max-height: 175px;
        }
    }
}
.variant-options-wrapper{
    display: flex;
}

.color-option{
    width: 30px;
    height: 30px;
}
.color-option-wrapper + .color-option-wrapper{
    margin-left: 8px;
}

.add-to-cart-button{
    cursor: pointer;
}