<div class="collection-product-grid-item">
    <div class="product-image-container" >
        <img [routerLink]="['/product', collItemHandle,]" [queryParams]="{ id: collItemVariantId}" src="{{collItemImgSrc}}" alt="">
    </div>
    <div class="product-info product-name">
        <p [routerLink]="['/product', collItemHandle,]">{{collItemTitle}}</p>
    </div>
    <div class="product-info product-variants">
        <p>
            {{collItemVariantColor}}
        </p>
        <p>
            {{collItemVariantScent}}
        </p>
        <!-- <div class="variant-options-wrapper">
            <div class="color-option-wrapper" *ngFor="let v of collItemVariants" >
                <div class="color-option bg-{{v.handle | lowercase}}">
                </div>
            </div>              
        </div> -->
    </div>
    <div class="product-info product-atc">
        <p>{{collItemVariantPrice | currency}}</p>
        <p>add to cart</p>
    </div>

</div>