img{
    max-width: 100%;
    display: block;
}
.collection-product-grid-item{
    display: grid;
    grid-template-rows: auto 50px 50px 50px;
    grid-gap: 1px;
    border: 1px solid black;
    background-color: black;
    height: 100%;
    div{
        background-color: #F3EEDC;
    }
}


.product-info{
    display: flex;
    align-items:center;
    padding: 0 8px;
}
.product-name{
    
}
.product-variants{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-atc{

}
.product-image-container{
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}
.variant-options-wrapper{
    display: flex;
}

.color-option{
    width: 30px;
    height: 30px;
}
.color-option-wrapper + .color-option-wrapper{
    margin-left: 8px;
}
